<h1>SenceOfCommitment</h1>
<h3>Tweet詳細</h3>
<div class="post">
  <p><%= @post.title %></p>
  <p><%= @post.about %></p>
</div>

<%= link_to "Tweet一覧に戻る", posts_index_path %>
<%= link_to "編集する", edit_post_path(@post.id) %>