/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    padding: 0;
    margin: 0;
}

.post{
    margin: 30px,0;
}
h1{
    background-color: aquamarine;
}

header{
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --noteGreen: #2cb696;
    --noteDarkenGreen: #228d74;
    --customPrimaryColor: #2cb696;
    --customPrimaryDarkenColor: #228d74;
    --ih: 6.87px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "kern";
    font-kerning: normal;
    font-size: 16px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    transition: transform .3s ease,-webkit-transform .3s ease;
    box-shadow: none;
}

.o-navbarMenu__menuItem a-link{
    float: left;
}  

.o-navBar{
    overflow: hidden;
}